{%extends 'base.html'%}

{%block body_block%}

<div class="jumbotron">
    <h1>PLEASE LOGIN</h1>
    <h2>U must be a superuser to login</h2>

    {%if form.errors%}
    <h3>Invalid Username Or Password</h3>
    {%endif%}

    <form action="{% url 'login'%}" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="login">
        <input type="hidden" name="next" value="{{next}}">
        <!--   this next will be provided by django.contrib.auth.views.login -->

    </form>
</div>

{%endblock%}